/*------------------------------------*\
    RESET
\*------------------------------------*/


/* http://meyerweb.com/eric/tools/css/reset/
    v2.0b1 | 201101
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: ’’;
    content: none;
}

/* remember to define visible focus styles!
:focus{
    outline:?????;
} */


/* remember to highlight inserts somehow! */

ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html {
    overflow: hidden;
    height: 100%;
}
body {
    background: #111;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
    /* non-prefixed version, currently
                                  not supported by any browser */
}

#full-hd-centered {
    position: absolute;
    width: 1920px;
    height: 1080px;
    margin: auto;
    transform-origin: top left;
}

.swiper-container-h {
    background: black;
    position: absolute;
    left: calc( calc( 1920px - 2307px ) / 2 );
    width: 2307px;
    height: 1080px;
    overflow: hidden;
}

.swiper-container-v {
    height: 1014px;
    margin-bottom: 4px;
}

.swiper-slide-h {
    width: 717px;
    height: 1080px;
    overflow: hidden;
    text-align: center;
    font-size: 21px;
}

.slide-wrapper {
    height: 1080px;
}

.swiper-slide-v {
    height: 1014px;
    font-size: 0;

    /* center the page within the slide and hide possible overflow */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.swiper-slide-v img {
    position: absolute;
}

.button-bar {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 62px;
    bottom: 0%;
}
.button-bar > * {
    position: absolute;
    margin: 6px;
}
.button-bar > *:nth-child(1) {
    top: 0px;
    left: 0px;
}
.button-bar > *:nth-child(2) {
    bottom: 0px;
    left: 0px;
}
.button-bar > a:link {
    color: black;
}

.button-bar > .disabled {
    color: #bbb;
}

.button-bar.overview {
    background-color: transparent;
}

.button-bar.overview > .disabled {
    color: #444;
}

.button-bar.overview > a:link {
    color: white;
}

/* visited link */

.button-bar > a:visited {
    color: black;
}

.button-bar > a:visited {
    color: white;
}

/* mouse over link */

.button-bar > a:hover, .button-bar.overview > a:hover {
    color: red;
}

/* selected link */

.button-bar > a:active, .button-bar.overview > a:active {
    color: hotpink;
}
.qrcode {
    background-color: white;
    bottom: 0px;
    right: 0px;
    margin: 3px;
    width: 56px;
    height: 56px;
}

/* BEGIN notifications */
div[data-notify="container"] span[data-notify="title"] {
    font-weight: bold;
}

div[data-notify="container"] span[data-notify="message"]:not(:empty) {
    margin-top: 10px;
    display: block;
}

.notifyDetails {
    max-height: 300px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 4px;
    background-color: white;
    color: gray;
    overflow: scroll;
}

#progress {
    margin-top: 10px;
    margin-bottom: 0px;
}

.progress {
    margin-bottom: 0px;
}

.progress + .progress {
    margin-top: 5px;
}

.dialog em b {
    font-weight: bold;
    font-style: normal;
}

.dialog em {
    font-style: italic;
}

.collapseable-content { display: flex; flex-direction: column; }
.collapseable-content > :not(a) { order: 2;}
.collapseable-content > a { order: 1; text-decoration: none; color:inherit; }
.collapseable-content > [aria-expanded=true] + a > i.fa-caret-down { display: none; }
.collapseable-content > [aria-expanded=false] + a > i.fa-caret-up { display: none; }

/* END notifications */

.loader {
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #555555; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/******/
@keyframes nodeInserted {
    from {
        outline-color: #fff;
    }
    to {
        outline-color: #000;
    }
}

.node-inserted {
    animation-duration: 0.01s;
    animation-name: nodeInserted;
}